{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Abe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Weather App</h1>
        <div class="search-bar">
            <form method='POST'>
            {% csrf_token %}
            {% comment %} <input type="text" id="search-input" placeholder="Enter city or country name"> {% endcomment %}
            {{form.name}}
            <button type="submit" id="search-button">Search</button>
            </form>
        </div>
    </header>
    <main>
        {%for city_weather in weather_data%}
        <div id="weather-info">
      
                <h2>Weather in {{ city_weather.city }}</h2>
                <img src="http://openweathermap.org/img/wn/{{ city_weather.icon }}@2x.png" alt="Weather icon">
                <p><strong>Temperature:</strong> {{ city_weather.temperature }}°C</p>
                <p><strong>Weather:</strong> {{ city_weather.description }}</p>
        </div>
        {% endfor %}
    </main>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>